*.4 filter=lfs diff=lfs merge=lfs -text
*.pde filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
/SerialTerminal/data/list_358588 filter=lfs diff=lfs merge=lfs -text
/SerialTerminal/data/list_741836 filter=lfs diff=lfs merge=lfs -text
/SerialTerminal/data/list_753525 filter=lfs diff=lfs merge=lfs -text
/SerialTerminal/data/list_778348 filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
/SerialTerminal/windows-amd64/data/list_358588 filter=lfs diff=lfs merge=lfs -text
/SerialTerminal/windows-amd64/data/list_741836 filter=lfs diff=lfs merge=lfs -text
/SerialTerminal/windows-amd64/data/list_753525 filter=lfs diff=lfs merge=lfs -text
/SerialTerminal/windows-amd64/data/list_778348 filter=lfs diff=lfs merge=lfs -text
/SerialTerminal/windows-amd64/java/NOTICE filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.jsa filter=lfs diff=lfs merge=lfs -text
*.properties filter=lfs diff=lfs merge=lfs -text
*.access filter=lfs diff=lfs merge=lfs -text
*.template filter=lfs diff=lfs merge=lfs -text
*.policy filter=lfs diff=lfs merge=lfs -text
*.security filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
*.jmod filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
/SerialTerminal/windows-amd64/java/lib/classlist filter=lfs diff=lfs merge=lfs -text
*.sym filter=lfs diff=lfs merge=lfs -text
*.bfc filter=lfs diff=lfs merge=lfs -text
*.src filter=lfs diff=lfs merge=lfs -text
*.lib filter=lfs diff=lfs merge=lfs -text
*.jfc filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
*.cfg filter=lfs diff=lfs merge=lfs -text
/SerialTerminal/windows-amd64/java/lib/modules filter=lfs diff=lfs merge=lfs -text
*.ja filter=lfs diff=lfs merge=lfs -text
*.certs filter=lfs diff=lfs merge=lfs -text
/SerialTerminal/windows-amd64/java/lib/security/cacerts filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
/SerialTerminal/windows-amd64/java/lib/tzmappings filter=lfs diff=lfs merge=lfs -text
/SerialTerminal/windows-amd64/java/release filter=lfs diff=lfs merge=lfs -text
*.java filter=lfs diff=lfs merge=lfs -text
